*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:"Poppins",sans-serif;
    background:var(--bg-color);
    color:var(--text-color);
    overflow-x:hidden;
}

a{
    text-decoration:none;
    color:inherit;
}

ul{
    list-style:none;
}

img{
    width:100%;
    display:block;
}

button{
    border:none;
    outline:none;
    cursor:pointer;
    font-family:inherit;
}

section{
    padding:100px 8%;
}

.container{
    max-width:1200px;
    margin:auto;
}